.app-header {
    height: 60px;
    line-height: 60px;
    border-bottom: thin lightgrey solid;
	background-color:#0099CC;
}

.app-header .app-header--title {
    font-size: 22px;
    padding-left: 5px;
	background-color:#0099CC;
}
.hhhh{position:fixed;z-index:50;top:0px; left:0px;right:0px;width:80%;background-color:#0099CC;margin:auto;}
.ddddss{margin-top:110px;}

.bar_pie {margin-left:50px;margin-right:50px;height:auto;}
.city_pie {width:30%;float:left;}
.bar_salary { width:65%;float:right;}

.check1 {clear:both;}


.tablecontainer {margin-left:50px;margin-right:50px;}
.right_detail {width:30%;
			   height:750px;
			   float:left;
			   text-align:center;
			   background-color:#CCFFCC;
			  }
.letf_map{
          float:right;
		  width:65%;
		  height:750px;}